body {
    /* background-color:rgb(181, 175, 175); */
    background-color: rgb(197, 201, 206);
    font-family: 'M PLUS 1', sans-serif;
    font-weight: 500;
    /* font-family: 'Montserrat', sans-serif; */
}

#progress-panel-div {
    /* background-color: rgb(141, 63, 63); */
    background-color: #dc3545;
    color: rgb(255, 255, 255);
    padding: 4% 10%;
    border-radius: 30px;
}

input[type=text], input[type=password]{
    border: none;
    border-bottom: 2px solid #dc3545;
    background-color: rgb(197, 201, 206);
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #dc3545;
    border: none;
    color: white;
}

label {
    color: #dc3545;

}

#workout-h2 {
    /* color: rgb(141, 63, 63); */
    color: #bf3d4a;
    font-size: 3vw;
    margin: 1% 0 0 0;
}

.form-container {
    width: 100%;
}

#advance-button {
    margin: 4% 0 0 0;
}

#navbar-container {
    padding: 1% 0;
}

.form-group {
    padding: 2% 0;
}

#home-container {
    width: 90%;
    text-align: center;
    padding: 2%;
}

#home-h1 {
    padding: 2%;
    margin: 1%;
}

#workout-accordion {
    margin: 5% 0;
}

.set-button {
    margin: 0 2%;
}

.strikethrough {
    text-decoration: line-through;
}


.green-background {
    background-color: rgba(6, 127, 6, 0.748);
    color: white;
}

.list-form-check {
    margin: 0 5%;

}