body {
    /* background-color:rgb(181, 175, 175); */
    background-color: rgb(197, 201, 206);
    font-family: 'M PLUS 1', sans-serif;
    font-weight: 500;
/*    font-size: 1.5vw;
*/    /* font-family: 'Montserrat', sans-serif; */
}

#intro-container {
    padding: 5% 0 2% 0 ;
}
/* form {
    text-align: center;
} */

#progress-panel-div {
    background-color: #dc3545;
    color: rgb(255, 255, 255);
    padding: 4% 10%;
    text-align: center;
    margin: 0;
}

/* #progress-panel-container {
    background-color: #dc3545;
    color: rgb(255, 255, 255);
    padding: 4% 10%;
    border-radius: 30px;
    text-align: center;
    margin: 5% auto;
} */


.form-input {
    background-color: rgb(197, 201, 206);
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0;
    outline: 0;
    width: 70%;

}

.form-btn {
    width: 70%;
}

/* input[type=text], input[type=number], input[type=password] {
    background-color: rgb(197, 201, 206);
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0;
    outline: 0;
    width: 70%; */


.form-input:focus {
    outline: none;
    border: none;
    background-color: rgb(197, 201, 206);
    box-shadow: none;
    border-bottom: 2px solid #dc3545;
}

.ex-input {
    width: 25%;
}

/* .form-input, input[type=text]:focus, input[type=number]:focus, input[type=password]:focus {
    outline: none;
    border: none;
    background-color: rgb(197, 201, 206);
    box-shadow: none;
    border-bottom: 2px solid #dc3545;
} */


label, .label {
    color: #dc3545;
}

#workout-h2 {
    /* color: rgb(141, 63, 63); */
    color: #dc3545;
    margin: 1% 0 0 0;
    /* font-size: 3.5vw; */
}

.form-container {
    width: 100%;
}

#advance-button {
    font-size: x-large;
    width: 100%;
    padding: 2%;
}

#navbar-container {
    padding: 1% 0;
}



#home-container {
    width: 90%;
    text-align: center;
    padding: 2%;
}

#home-h1 {
    padding: 2%;
    margin: 1%;
}

#workout-accordion {
    margin: 5% 0;
}

.set-button {
    margin: 0 2%;
}

.completed-class {
    text-decoration: line-through;
}

/* is this still needed? I think it's been excised */

.list-form-check {
    margin: 2%;
/*    font-size: 2vw;
*/

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* .ex-text {
   font-size: 2.5vw;
} */
#set-text {
/*    font-size: 2.3vw;
*/    display: inline-flex;

}

#set-form {
    display: inline;

}

#set-input {
    display: inline;
    background-color: white;
    border-radius: 0;
    width: 15%;
    /* color: #dc3545; */
    border-bottom: solid 1px;
    text-decoration: none;

}

#set-input:focus {
    border-bottom: solid 1px #dc3545;
    text-decoration: none;
}

#set-submit {
    display: inline;
    text-decoration: none;

}

#plate-h3 {
    color:#dc3545;
    text-align:center;
}

#plate-ul {
    list-style: none;
    color:#dc3545;
    text-align:center;
    /* font-size: medium; */
}

.navlink {
    color:  red;
    font-size: 20px;
}

.navlink:active {
    color:  white;

}



#profile-h2 {
    color: white;
    font-size: xx-large;
    text-align: center;
    padding: 3%;
    background-color: #dc3545;
    width: 100%;
    margin: 0;
}

#profile-h3 {
    color:#dc3545;
    font-size: large;
    text-align: center;
    padding: 3%;
    background-color: white;
    width: 100%;
}
#profile-card-group {
    margin: auto;
}
#profile-listgroup {
    font-size: 2vw;
    list-style: none;
}

.profile-list-item {
    list-style: none;
}

.progression-card {
    margin: 2%;
    text-align: center;
}

/* .progression-lg-i {
    width: 100%;
    margin: auto;
} */


.plates-li {
    font-size: large;
}

.plates-btn {
    margin: 1% auto;
    font-size: x-large;
    display: block;
    width: 40%;
    padding: 1%;
}

#continue-btn {
    width: 70%;
    margin: 5% 0;
}

.ex-form-group {
    padding: 2%;
}

#ex-form-h3 {
    text-decoration: underline;
    padding: 3% 0 0 0;
}

.ex-input {
    text-align: center;
    padding: 1%;
    border: 2px solid #dc3545;
    color: #dc3545;
    font-size: larger;
}

.ex-input:focus {
    background-color: #dc3545;
    border: 2px solid white;
    color: white;
}