body {
    /* background-color:rgb(181, 175, 175); */
    background-color: rgb(197, 201, 206);
    font-family: 'M PLUS 1', sans-serif;
    font-weight: 500;
/*    font-size: 1.5vw;
*/    /* font-family: 'Montserrat', sans-serif; */
}



#intro-container {
    padding: 5% 3% 2% 3% ;
}
/* form {
    text-align: center;
} */



#progress-panel-div {
    background-color: #dc3545;
    color: rgb(255, 255, 255);
    padding: 4% 10%;
    text-align: center;
    margin: 0;
}

/* #progress-panel-container {
    background-color: #dc3545;
    color: rgb(255, 255, 255);
    padding: 4% 10%;
    border-radius: 30px;
    text-align: center;
    margin: 5% auto;
} */


.form-input {
    background-color: rgb(197, 201, 206);
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0;
    outline: 0;
    width: 70%;
}

.form-input:focus {
    outline: none;
    border: none;
    background-color: rgb(197, 201, 206);
    box-shadow: none;
    border-bottom: 2px solid #dc3545;
}

.ex-input {
    width: 25%;
    display: inline-flex;
    margin: 0 2%
}

label, .label {
    color: #dc3545;
}

#workout-h2 {
    /* color: rgb(141, 63, 63); */
    color: #dc3545;
    margin: 1% 0 0 0;
    /* font-size: 3.5vw; */
}

.form-container {
    width: 100%;
}

.week-button {
    font-size: x-large;
    width: 100%;
    padding: 2%;
    margin: 0 0 2% 0;
}

#navbar-container {
    padding: 1% 0;
}



#home-container {
    width: 90%;
    text-align: center;
    padding: 2%;
}

#home-h1 {
    padding: 2%;
    margin: 1%;
}

#workout-accordion {
    margin: 5% 0;
}

.set-button {
    margin: 0 2%;
}

.completed-class {
    text-decoration: line-through;
}

/* is this still needed? I think it's been excised */

.list-form-check {
    margin: 2%;
/*    font-size: 2vw;
*/

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.ex-text {
   font-size: larger;
}
#set-text {
    font-size: larger;
    display: inline-flex;
}



#plate-h3 {
    color:#dc3545;
    text-align:center;
}

#plate-ul {
    list-style: none;
    color:#dc3545;
    text-align:center;
    /* font-size: medium; */
}


#profile-h2 {
    color: white;
    font-size: xx-large;
    text-align: center;
    padding: 3%;
    background-color: #dc3545;
    width: 100%;
    margin: 0;
}

#profile-h3 {
    color:#dc3545;
    font-size: large;
    text-align: center;
    padding: 3%;
    background-color: white;
    width: 100%;
}
#profile-card-group {
    margin: auto;
}
#profile-listgroup {
    font-size: 2vw;
    list-style: none;
}

.profile-list-item {
    list-style: none;
}

.progression-card {
    margin: 2%;
    text-align: center;
}

/* .progression-lg-i {
    width: 100%;
    margin: auto;
} */


.plates-li {
    font-size: medium;
}

.plates-btn {
    margin: 1% auto;
    font-size: medium;
    display: block;
    width: auto;
    padding: 2%;
}

.form-btn {
    width: 50%;
    margin: 3% auto;
    text-align: center;
    display: block;
}

#login-btn {
    width: 70%;
    margin: 2% auto;
}

.ex-form-group {
    padding: 2%;
    margin: auto;
    text-align: center;
}

#ex-form-h3 {
    padding: 3% 0 1% 0;
    text-align: center;
    text-decoration: underline;
}

#ex-form-intro-h3 {
    color:#dc3545;
    text-align: center;
    margin: auto;
    font-size: x-large;
}

.ex-label {
    text-align: left;

}

.ex-input {
    text-align: center;
    padding: 1%;
    border: 2px solid #dc3545;
    color: #dc3545;
    font-size: large;
}

.ex-input:focus {
    background-color: #dc3545;
    border: 2px solid white;
    color: white;
}

.reps-input {
    width: 50px;
}

.weight-input {
    width:  65px;
}


/* #set-form {
    text-align: center;
    margin: auto;
}
*/

#rep-container{ 
    margin: auto;
    text-align: center;
}

#set-form-label {
    text-align: right;
}

.set-form-group {
    padding: 2%;
    margin: auto;
    text-align: center;
} 

#set-form-input {
    width: 45px;
    background-color: white;
    color:#dc3545;
    border-radius: 0;
    /* color: #dc3545; */
    border: solid 2px #dc3545;
    text-decoration: none;
    text-align: center;
}

#set-form-input:focus {
    background-color: #dc3545;
    color: white;
    box-shadow: none;
    text-decoration: none;
}

#set-submit {
    display: inline;
    text-decoration: none;
    margin: 2%;
}

#user-dropdown {
    margin: 0 3% 0 0 ;
}

#user-dropdown:active {
    color: green;
}

#accessory-ex-item {
    font-size: medium;
}

#accessory-ex-h3 {
    font-size: large;
    background-color: #dc3545;
    padding: 2%;
    color: white;

}


#navbar-brand {
    margin: 0 0 0 2%;
}

.checkbox-group {
    margin:  2% 0;
    text-align: center;
}

label.form-check-label {
    margin: 0 10px;
}

.ex-checkbox {
    text-align: center;
    display: inline-flex;
}


label.ex-label.form-label {
    margin: 0 2%;
    display: inline-flex;
}